#healthbar {
    width: 320px !important;
    min-height: 28px;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    position: inherit;
    bottom: 5%;
    left: 50%;
    margin-left: -160px;
    z-index: 20;
    /* border: solid 2px #fff; */
    border-radius: 1rem;
}

#health {
    background-color: #1ed760;
    width: 100%;
    text-align: center;
    /* border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem; */
    border-radius: 1rem;
    border: solid 2px #555;
}

#game-over {
    font-family: "Roboto", sans-serif;
    position: inherit;
    color: gold;
    font-size: 10em;
    min-width: 320px;
    text-align: center;
    font-weight: 700;
    left: 20%;
    top: 30%;
    display: none;
    margin-left: -160px;
    z-index: 20;
}

#loader {
    z-index: 20;
    position: inherit;
    border: 4px solid #555;
    border-top: 4px solid #1ed760;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}