*{
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

#bg{
    /* background-color: #10abff; */
    z-index: -100;
}

#canvas, #ui {
    align-content: center;
    text-align: center;
}

#canvas {
    background-color: #161d20;
}

#ui {
    position: fixed;
    bottom: 0;
}